#footer {
	background-color: #303030;
	color: white;
	font-family: "roboto", sans-serif;
	text-decoration: none;
	padding: 0 0 15px 15px;
	h4 {
		font-size: 20px;
		font-family: shrikhand;
		color: white;
		font-weight: 500;
	}
	a {
		text-decoration: none;
		color: white;
		cursor: pointer;
		display: flex;
		padding-right: 10px;
	}
	a:hover {
		color: #AF7AC5;
	}
	.footer__informations {
		display: flex;
		flex-direction: column;
		width: 100%;
		font-size: 15px;
		font-weight: bold;
	}
	.footer__informations a {
		padding-bottom: 10px;
	}
	.footer__icon {
		padding-right: 15px;
	}
	.footer__icon_partenaire {
		padding-right: 10px;
	}
}


/* Format tablette */

@media screen and (min-width: 768px) and (max-width: 1023px) {
	#footer {
		h4 {
			font-size: 27px;
		}
		.footer__titre {
			display: flex;
			justify-content: center;
		}
		.footer__informations {
			align-items: center;
		}
	}
}


/* Format Desktop */

@media screen and (min-width: 1024px) {
	#footer {
		h4 {
			font-size: 27px;
		}
		.footer__titre {
			display: flex;
			justify-content: center;
		}
		.footer__informations {
			align-items: center;
		}
	}
}