#footer {
  background-color: #303030;
  color: white;
  font-family: "roboto", sans-serif;
  text-decoration: none;
  padding: 0 0 15px 15px;

  h4 {
    
    font-size: 20px;
    font-family: shrikhand;
    color: white;
    font-weight: 500;
    padding: 15px 0 0 0;
  }

  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    display: flex;
    padding-right: 10px;
  }
  .footer__informations {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 15px;
    font-weight: bold;
  }
  .footer__informations a {
    padding-bottom: 10px;
  }
  .footer__icon  {
    padding-right: 15px;
  }
  .footer__icon1 {
    padding-right: 10px;
  }
}
