header {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0px auto;
	.retour {
		position: absolute;
		left: 28px;
		font-size: 23px;
		bottom: 5px;
		color: black;
	}
	h1 {
		text-align: center;
		font-size: 36px;
		font-family: shrikhand;
		color:black;
		font-weight: 500;
	}
	a {
		padding: 15px 0 0 0;
		text-decoration: none;
		cursor: pointer;
	}
}

/* Format Desktop */

@media screen and (min-width: $breakpoint-desktop) {
	header {
		h1 {
			height: 40px;
		}
	}
}