/* Section Recherche */
  
  .recherche__input::placeholder{
    color: black;
  }
  .recherche__input {
    height: 39px;
    width: 100%;
    border-style: none;
    background-color: #eaeaea;
    font-size: 37px;
    text-align: center;
    font-weight: bold;
  }
  .recherche__onglet {
    width: 100%;
    background-color: #eaeaea;
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    
  }


    
  .recherche__bouton {
    text-align: center;
    background-color: #F6F6F6;
    font-weight: bold;
    font-size: 17px;
    padding-top: 50px;
    padding-bottom: 90px;
  
   h2 {
    margin: 0;
    font-family: "Shrikhand", sans-serif;
    font-weight: bold;
  }
   button {
    border-radius: 70px;
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 45px;
    background-color: pink;
    padding: 47px;
    margin-top: 35px;
    margin-bottom: 60px;
  }
   }
  
  /* Section Fonctionnement */
  
  #fonctionnement {
    font-weight: bold;
  
  .fonctionnement__titre {
    padding: 55px 0 30px 37px;
  }
  .fonctionnement__lesboutons {
    
    border-radius: 50px;
    border: 0;
    font-size: 35px;
    background-color: #F6F6F6;
    padding: 56px;
    margin: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fonctionnement__lesboutons:hover {
    background-color: #e7b2e7;
    cursor: pointer;
  }
  .fonctionnement__number {

    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #9356dc;
  }
  span {
      margin: 0px;
      padding: 0px;
      font-family: "roboto";
      font-size: 30px;
      font-weight: bold;
      color: white;

  }

  .fonctionnement__icon:hover {
    color: #c541c5;
    cursor: pointer;
  }
  .fonctionnement__icon {
   padding-right: 30px;
   width: 52px;
   display: flex;
   justify-content: center;
   font-size: 36px;
  }
    }
  
  /* Restaurants */
  #restaurants__conteneur {
      

   h3 {
    font-family: "Shrikand", sans-serif;
    color: black;
    text-decoration: none;
  }

   a {
     color: black;
     font-family: "roboto", sans-serif;  
   }
    }
