/* Sections Restaurants  */

.restaurant__section {
	position: relative;
	background-color: $color-grey;
	

	img {
		width: 100%;
		height: 225px;
		object-fit: cover;
	}
	.coeur {
		position: absolute;
		cursor: pointer;
		top: 34px;
		right: 31px;
		font-size: 23px;
	}
	.restaurant__carte {
		background-color: $color-grey;
		margin-top: -19px;
	
	}
	
	
	.restaurant__titre {
		position: relative;
		top: -36px;
		border-radius: 35px 35px 0 0;
		padding: 15px 0 12px;
		background-color: $color-grey;
	}
	h2 {
		font-size: 24px;
		margin: 15px 15px 0 15px;
		font-family: "shrikhand", sans-serif;
	}


	h3 {
	position: relative;
	font-size: 17px;
	margin: 25px 0 2px 15px;
	}

	h3::after {
	content: '';
	width: 40px;
	height: 3px;
	background-color: $color-tertiary;
	margin: 0 15px 0 15px;
	position: absolute;
	left: -16px;
	bottom: -8px;
	}

}


.restaurant__intitule {
	font-weight: bold;
	margin-bottom: 5px;
}

.restaurant__conteneur_plat {
	height: 55px;
	width: auto;
	margin: 18px 7px 15px 9px;
	display: flex;
	align-items: center;
	background-color: white;
	border-radius: 15px;
	&:hover .restaurant__coche_verte {
		width: 34px;
		opacity: 1;
		 .fa-check-circle {
			opacity: 1;
			transform: rotate(360deg);
			transition-duration: .5s;
			
		}
	}

	/*&:hover {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 320px;	
	}*/
}

.restaurant__plat {
	width: 100%;
	padding: 0px 10px;
	font-size: 15px;
}

.restaurant__accompagnement {
	display: flex;
	justify-content: space-between;
}

.restaurant__prix {
	font-weight: bold;
}


.restaurant__coche_verte {
	height: 55px;
	width: 34px;
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	background-color: $color-tertiary;
	border-radius: 0 15px 15px 0;
	transition-duration: 0.5s;
	opacity: 0;

}	 



.restaurant__bouton {
	display: flex;
	justify-content: center;
	padding: 45px 0;

	button {
		border-radius: 32px;
		border: 0;
		color: white;
		cursor: pointer;
		background: linear-gradient( #ff79da 10%, #9356dc 90%);
		padding: 16px;
		margin-top: 17px;
		margin-bottom: 30px;
		text-align: center;
		text-decoration: none;
		font-weight: bold;
		color: white;
		width: 185px;

	&:hover {
		box-shadow: 6px 5px 10px #acabab;
		transform: scale(1.20);
		opacity: 0.8;	
	}	
	}
}