/* Couleurs */
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-grey: #F6F6F6;
$color-grey2: #eaeaea;


/* Marges */
$default-padding: 16px;
$default-margin: 16px;


/* Media Queries */
$breakpoint-smartphone-max: 767px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-max: 1023px;
$breakpoint-desktop: 1024px;





