@import url("https://fonts.googleapis.com/css2? family= Shrikhand & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
/* Couleurs */
/* Media Queries */
#footer {
  background-color: #303030;
  color: white;
  font-family: "roboto", sans-serif;
  text-decoration: none;
  padding: 0 0 15px 15px;
}

#footer h4 {
  font-size: 20px;
  font-family: shrikhand;
  color: white;
  font-weight: 500;
}

#footer a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
}

#footer a:hover {
  color: #AF7AC5;
}

#footer .footer__informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
}

#footer .footer__informations a {
  padding-bottom: 10px;
}

#footer .footer__icon {
  padding-right: 15px;
}

#footer .footer__icon_partenaire {
  padding-right: 10px;
}

/* Format tablette */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #footer h4 {
    font-size: 27px;
  }
  #footer .footer__titre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #footer .footer__informations {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* Format Desktop */
@media screen and (min-width: 1024px) {
  #footer h4 {
    font-size: 27px;
  }
  #footer .footer__titre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #footer .footer__informations {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0px auto;
}

header .retour {
  position: absolute;
  left: 28px;
  font-size: 23px;
  bottom: 5px;
  color: black;
}

header h1 {
  text-align: center;
  font-size: 36px;
  font-family: shrikhand;
  color: black;
  font-weight: 500;
}

header a {
  padding: 15px 0 0 0;
  text-decoration: none;
  cursor: pointer;
}

/* Format Desktop */
@media screen and (min-width: 1024px) {
  header h1 {
    height: 40px;
  }
}

#loading {
  background: #F2F2F2;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  -webkit-animation: spinner 3s linear;
          animation: spinner 3s linear;
}

#loading .loading__carreblanc {
  width: 100px;
  height: 100px;
  background-color: transparent;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#loading .loading__carreblanc .loading__svg {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes spinner {
  0% {
    opacity: 1;
    z-index: 1;
  }
  80% {
    opacity: 0.7;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes spinner {
  0% {
    opacity: 1;
    z-index: 1;
  }
  80% {
    opacity: 0.7;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.recherche__onglet {
  width: 100%;
  background-color: #eaeaea;
  padding: 15px 0 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

.recherche__icon {
  margin-left: 70px;
}

.recherche__input::-webkit-input-placeholder {
  color: black;
}

.recherche__input:-ms-input-placeholder {
  color: black;
}

.recherche__input::-ms-input-placeholder {
  color: black;
}

.recherche__input::placeholder {
  color: black;
}

.recherche__input {
  height: 17px;
  width: 65%;
  border-style: none;
  background-color: #eaeaea;
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.recherche__bouton {
  text-align: center;
  background-color: #F6F6F6;
  font-size: 17px;
  padding-top: 36px;
  padding-bottom: 45px;
}

h2 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 21px;
}

button {
  border-radius: 32px;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 16px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #ff79da), color-stop(90%, #9356dc));
  background: linear-gradient(#ff79da 10%, #9356dc 90%);
  padding: 19px;
  margin-top: 17px;
  margin-bottom: 30px;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

button:hover {
  -webkit-box-shadow: 6px 5px 10px #acabab;
          box-shadow: 6px 5px 10px #acabab;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.8;
}

/* Section Fonctionnement */
#fonctionnement {
  font-weight: bold;
  padding-bottom: 35px;
}

#fonctionnement .fonctionnement__titre {
  padding: 22px 0 15px 18px;
  font-family: "Shrikand", sans-serif;
  font-weight: 500;
}

#fonctionnement .fonctionnement__boutons {
  border-radius: 23px;
  border: 0;
  font-size: 16px;
  background-color: #F6F6F6;
  padding: 28px 28px 28px 0;
  margin: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 3px 3px 10px #eaeaea;
          box-shadow: 3px 3px 10px #eaeaea;
}

#fonctionnement .fonctionnement__boutons:hover {
  background-color: #E8DAEF;
  cursor: pointer;
}

#fonctionnement .fonctionnement__boutons:hover .fonctionnement__icon {
  color: #9356dc;
}

#fonctionnement .fonctionnement__number {
  height: 25px;
  width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  background-color: #9356dc;
}

#fonctionnement span {
  margin: -13px;
  padding: 0px;
  font-family: "roboto";
  font-size: 12px;
  font-weight: bold;
  color: white;
}

#fonctionnement .fonctionnement__icon {
  padding: 0 0 0 22px;
  width: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

/* Section Restaurants */
#restaurants {
  background-color: #F6F6F6;
  padding: 15px 15px 40px 15px;
}

#restaurants h2 {
  font-family: "Shrikand", sans-serif;
  padding: 35px 0 15px 0;
}

#restaurants h3 {
  font-family: "Shrikand", sans-serif;
  color: black;
  margin: 10px 0 0 10px;
}

#restaurants p {
  margin: 5px 0 0 10px;
  padding-bottom: 10px;
}

#restaurants a {
  color: black;
  font-family: "roboto", sans-serif;
  text-decoration: none;
}

#restaurants img {
  width: 100%;
  height: 190px;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

#restaurants .restaurant {
  background-color: #fff;
  border-radius: 20px;
  margin: 15px 0 15px 0;
  position: relative;
}

#restaurants .restaurant__nouveau {
  background-color: #99E2D0;
  color: #1E8449;
  padding: 6px 20px 6px 20px;
  border-radius: 2px;
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 10px;
  font-weight: bold;
}

#restaurants i {
  position: absolute;
  bottom: 26px;
  right: 25px;
  font-size: 27px;
  background-color: transparent;
  -webkit-transition: color 300ms ease-in;
  transition: color 300ms ease-in;
}

#restaurants i:hover {
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #ff79da), color-stop(90%, #9356dc));
  background: linear-gradient(#ff79da 10%, #9356dc 90%);
  -webkit-background-clip: text;
  color: transparent;
}

/* Format tablette */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #fonctionnement .fonctionnement__troisboutons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #fonctionnement .fonctionnement__boutons {
    height: auto;
    width: 158px;
    font-size: 14px;
  }
  #fonctionnement .fonctionnement__icon {
    font-size: 17px;
    width: 80px;
  }
  #fonctionnement .fonctionnement__number {
    height: 25px;
    width: 35px;
  }
  #restaurants img {
    height: 150px;
    width: 330px;
  }
  .restaurants__cartes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

/* Format Desktop */
@media screen and (min-width: 1024px) {
  .fonctionnement__troisboutons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #restaurants img {
    height: 240px;
    width: 460px;
  }
  .restaurants__cartes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

/* Sections Restaurants  */
.restaurant__section {
  position: relative;
  background-color: #F6F6F6;
}

.restaurant__section img {
  width: 100%;
  height: 225px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant__section .coeur i {
  position: absolute;
  cursor: pointer;
  top: 34px;
  right: 31px;
  font-size: 23px;
  background-color: transparent;
  -webkit-transition: color 300ms ease-in;
  transition: color 300ms ease-in;
}

.restaurant__section .coeur i:hover {
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #ff79da), color-stop(90%, #9356dc));
  background: linear-gradient(#ff79da 10%, #9356dc 90%);
  -webkit-background-clip: text;
  color: transparent;
}

.restaurant__section .restaurant__carte {
  background-color: #F6F6F6;
  margin-top: -19px;
}

.restaurant__section .restaurant__conteneur_plat:nth-of-type(2) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.restaurant__section .restaurant__conteneur_plat:nth-of-type(3) {
  -webkit-animation-delay: 0.50s;
          animation-delay: 0.50s;
}

.restaurant__section .restaurant__conteneur_plat:nth-of-type(4) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.restaurant__section .restaurant__conteneur_plat:nth-of-type(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.restaurant__section .restaurant__conteneur_plat:nth-of-type(6) {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

.restaurant__section .restaurant__conteneur_plat:nth-of-type(7) {
  -webkit-animation-delay: 1.50s;
          animation-delay: 1.50s;
}

.restaurant__section .restaurant__conteneur_plat:nth-of-type(8) {
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}

.restaurant__section .restaurant__conteneur_plat:nth-of-type(9) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.restaurant__section .restaurant__conteneur_plat {
  -webkit-animation: apparition 2.25s ease-out;
          animation: apparition 2.25s ease-out;
}

@-webkit-keyframes apparition {
  from {
    opacity: 0;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes apparition {
  from {
    opacity: 0;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.restaurant__section .restaurant__titre {
  position: relative;
  top: -36px;
  border-radius: 35px 35px 0 0;
  padding: 15px 0 12px;
  background-color: #F6F6F6;
}

.restaurant__section h2 {
  font-size: 24px;
  margin: 15px 15px 0 15px;
  font-family: "shrikhand", sans-serif;
}

.restaurant__section h3 {
  position: relative;
  font-size: 17px;
  margin: 25px 0 2px 15px;
}

.restaurant__section h3::after {
  content: '';
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin: 0 15px 0 15px;
  position: absolute;
  left: -16px;
  bottom: -8px;
}

.restaurant__intitule {
  font-weight: bold;
  margin-bottom: 5px;
}

.restaurant__conteneur_plat {
  height: 55px;
  width: auto;
  margin: 18px 7px 15px 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
}

.restaurant__conteneur_plat:hover .restaurant__coche_verte {
  width: 70px;
  opacity: 1;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.restaurant__conteneur_plat:hover .restaurant__coche_verte .fa-check-circle {
  opacity: 1;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 500ms ease-in;
  transition: 500ms ease-in;
}

.restaurant__plat {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.restaurant__plat .restaurant__accompagnement > div:first-of-type {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.restaurant__plat {
  width: 100%;
  padding: 0px 10px;
  font-size: 15px;
}

.restaurant__accompagnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant__prix {
  font-weight: bold;
}

.restaurant__coche_verte {
  width: 0;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  opacity: 0;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.restaurant__bouton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 45px 0;
}

.restaurant__bouton button {
  border-radius: 32px;
  border: 0;
  color: white;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #ff79da), color-stop(90%, #9356dc));
  background: linear-gradient(#ff79da 10%, #9356dc 90%);
  padding: 16px;
  margin-top: 17px;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: white;
  width: 185px;
}

.restaurant__bouton button:hover {
  -webkit-box-shadow: 6px 5px 10px #acabab;
          box-shadow: 6px 5px 10px #acabab;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.8;
}

/* Format tablette */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant__conteneur_plat {
    height: 70px;
  }
  .restaurant__conteneur_plat:hover .restaurant__coche_verte {
    width: 70px;
  }
  .restaurant__coche_verte {
    height: 70px;
  }
}

/* Format Desktop */
@media screen and (min-width: 1024px) {
  .restaurant__section h2 {
    font-size: 28px;
  }
  .restaurant__bouton button {
    width: 230px;
  }
  .restaurant__bouton .restaurant__conteneur_plat {
    height: 70px;
  }
  .restaurant__bouton .restaurant__conteneur_plat:hover .restaurant__coche_verte {
    width: 70px;
  }
  .restaurant__bouton .restaurant__coche_verte {
    height: 70px;
  }
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */