/* couleurs */
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;


/* marges */
$default-margin: 16px;
$default-padding: 16px;

/*media queries */
$breakpoint: (
    tablet: 768px,
    desktop: 1024px,
);

